# append added fonts
xset fp+ /usr/share/fonts/misc/

# start compositor
pkill -u $USER -x compton
compton -zcf -o 0.66 -r 11 -t -13 -l -20 -D 5 --backend glx --vsync opengl -b

# start urxvt daemon
[ -z $(ps -u $USER | grep urxvtd) ] && urxvtd -q -o -f

# japanese input
export GTK_IM_MODULE="uim"
export QT_IM_MODULE="uim"
uim-xim &
export XMODIFIERS=@im=uim
