! special
*.foreground:   #6a7474
*.background:   #fdf6e3
*.cursorColor:  #6a7474

! black
*.color0:       #5e5c65
*.color8:       #6e6b76

! red
*.color1:       #d45e5e
*.color9:       #e48080

! green
*.color2:       #8ec089
*.color10:      #98b397

! yellow
*.color3:       #ed9774
*.color11:      #da8e6e

! blue
*.color4:       #59b2ca
*.color12:      #67a6bf

! magenta
*.color5:       #caa0ff
*.color13:      #c09dda

! cyan
*.color6:       #90cdc3
*.color14:      #9eccc4

! white
*.color7:       #ded8c3
*.color15:      #eee8d5

! Fonts
Xft.dpi:       96
Xft.rgba:      rgb
Xft.hinting:   true
Xft.autohint:  false
Xft.hintstyle: hintmedium
Xft.lcdfilter: lcddefault

! URxvt
URxvt.depth:           32

URxvt.geometry:        107x32

URxvt.borderLess:      false
URxvt.externalBorder:  0
URxvt.internalBorder:  2

URxvt.scrollBar:       false

URxvt.cursorBlink:     true
URxvt.cursorUnderline: true
URxvt.visualBell:      false

URxvt.font:            xft:tewi