! special
*.foreground:   #f0f0f0
*.background:   #151515
*.cursorColor:  #f0f0f0

! black
*.color0:       #151515
*.color8:       #505558

! red
*.color1:       #de6053
*.color9:       #f07a70

! green
*.color2:       #accc65
*.color10:      #c1e066

! yellow
*.color3:       #dda060
*.color11:      #ddb26f

! blue
*.color4:       #69a2cd
*.color12:      #70b2d0

! magenta
*.color5:       #85678f
*.color13:      #b294bb

! cyan
*.color6:       #12cfc0
*.color14:      #77dfd8

! white
*.color7:       #b0b5b8
*.color15:      #f5f5f5

! Fonts
Xft.dpi:       96
Xft.rgba:      rgb
Xft.hinting:   true
Xft.autohint:  false
Xft.hintstyle: hintfull
Xft.lcdfilter: lcddefault

! URxvt
URxvt.depth:           32

URxvt.geometry:        107x32
URxvt.lineSpace:       1.5

URxvt.borderLess:      false
URxvt.externalBorder:  0
URxvt.internalBorder:  8

URxvt.scrollBar:       false

URxvt.cursorBlink:     true
URxvt.cursorUnderline: true
URxvt.visualBell:      false

URxvt.font:            xft:tewi
