! special
*.foreground:   #e2e5e3
*.background:   #151515
*.cursorColor:  #fafcfb

! black
*.color0:       #28383d
*.color8:       #586e75

! red
*.color1:       #e05959
*.color9:       #e86a6a

! green
*.color2:       #b9c655
*.color10:      #abc15d

! yellow
*.color3:       #a77f3c
*.color11:      #aa8444

! blue
*.color4:       #4d91c0
*.color12:      #519fd4

! magenta
*.color5:       #ec7cb3
*.color13:      #f088ba

! cyan
*.color6:       #4ec9bf
*.color14:      #6bdcd2

! white
*.color7:       #839496
*.color15:      #c5c8c6

! Fonts
Xft.dpi:       96
Xft.rgba:      rgb
Xft.hinting:   true
Xft.autohint:  false
! Xft.hintstyle: hintmedium
Xft.hintstyle: hintfull
Xft.lcdfilter: lcddefault

! URxvt
URxvt.depth:           32

URxvt.geometry:        107x32

URxvt.borderLess:      false
URxvt.externalBorder:  0
URxvt.internalBorder:  2

URxvt.scrollBar:       false

URxvt.cursorBlink:     true
URxvt.cursorUnderline: true
URxvt.visualBell:      false

URxvt.font:            xft:tewi
