[options]
size_hints = true
geometry   = 107x32

font = tewi 8
cursor_shape = underline

scrollback_lines = 1000
allow_bold = true
audible_bell = true
urgennt_on_bell = true
clickable_url = true
search_wrap = true

# tmp
browser = luakit

[colors]
foreground = #f0eef1
background = #111416

# black
color0  = #282a2e
color8  = #373b41
# red
color1  = #d45e5e
color9  = #e48080
# green
color2  = #90c38a
color10 = #afdead
# yellow
color3  = #c2b059
color11 = #ded193
# blue
color4  = #599bb5
color12 = #a2cedd
# magenta
color5  =  #bf8bb8
color13 = #e2b0db
# cyan
color6  = #308b70
color14 = #a6e9d5
# white
color7  = #b2aab5
color15 = #d4ced9

[hints]
padding = 0
